#body{background-color: white;  font-family: Helvetica, sans-serif;}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
}

.menu li {
  padding: 5px;
  margin-bottom: 15px;
  background-color: #f1f1f1;
  color: #ffffff;
}

.menu li:hover {
  background-color: #5E5694;
}

.col{float:left;width:100%; }

.column {
  float: left;
  width: 15%;
  padding: 10px;
  background-color: white;
  position:fixed;
  z-index:0;
}

.main {
  width: 80%;
  align: center;
  background-color: white;
  padding-left:20%;
  margin-top:8%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

#totalheader{
  background-color: #5E5694;
  text-align: center;
  position: fixed;
  top:0;
  width:100%;
  z-index:1;
}

li{
    font-size:25;
    padding:10px;
    }

.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

input, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#outer {
  border: 1px solid red;
  width:100%
}

#inner {
padding-left:25%;
padding-right :25%;
  width: 50%;
  margin: 0 auto;
}


.board{
    width:50px;
    text-align:center;
    height:50px;
}


.move_form{
    margin-left: 25%;
    width: 40%;
}


tr:nth-child(odd) td:nth-child(even) {
  background: #5E5694;
}

tr:nth-child(odd) td:nth-child(odd) {
  background: white;
}

tr:nth-child(even) td:nth-child(even) {
  background: white;
}

tr:nth-child(even) td:nth-child(odd) {
  background: #5E5694;
}

#big{font-size:90;}

#left{
    float: left;
    padding: 15px;
}
#right{
    float: left;
  padding: 15px;
 }

.clearfix::after {
  clear: both;
  display: table;
}

.cat{
  width:100%;
  height:100%;
  z-index:100;
  position:relative;
  cursor:pointer;

}

.mouse{
  width:100%;
  height:100%;
  z-index:100;
  position:relative;
  cursor:pointer;
}