{% load staticfiles %}
<html>
<head>
    {% block extra_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    {% endblock extra_css %}

    {% block extra_js %}
    
    {% endblock extra_js %}

    {% block extra_head %}
    
    {% endblock extra_head %}
    <title>{% block title %}PSI 2019-2020: Example of application{% endblock %}</title>
</head>

<body id="body">
        <div id="totalheader">
        <div id="title">
            {% block atitle %}<h1>Mouse vs. Cats</h1>{% endblock atitle %}
        </div>

        <div id="header">
            {% if request.user.is_authenticated %}
                Welcome <span class="username">{{ request.user.username }}</span>!
            {% endif %}
        </div>
        </div>

            <div class="column">
                <div class="col-3 col-s-3 menu">
                <ul>
                {% if not request.user.is_authenticated %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'signup' %}">Signup</a></li>
                {% endif %}
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="{% url 'counter' %}">Counter</a></li>
                <li><a href="{% url 'create_game' %}">Create game</a></li>
                <li><a href="{% url 'join_game' %}">Join game</a></li>
                <li><a href="{% url 'select_game' %}">Select game</a></li>
                <li><a href="{% url 'show_game' %}">Play</a></li>
                {% endif %}
            </ul>
            </div>
            </div>
            <div class="main">
                {% block content %}
                {% endblock content %}
            </div>


    {% block footer %}
    {% endblock footer %}
</body>
</html>
