{% extends "mouse_cat/base.html" %}

{% block content %}
<div id="content">
    <h1>Play</h1>
    <p>Game: <b>{{ game.id }}</b></p>

    <div class="clearfix">
        <div id="left">
            {% if board %}
            <table>
            {% for item in board %}
            {% if forloop.counter0|divisibleby:8 %}<tr>{% endif %}
            <td id="{{ forloop.counter0}}" class="board" ondrop="drop(event, this)" ondragover="allowDrop(event)">
                {% if item ==  0 %}
                {% elif item == 1 %}  <img src="/static/images/cat.png" class="cat" draggable="true" ondragstart="drag(event, this)" alt="Cat" id="drag"/>
                {% elif item == 2 %}  <img src="/static/images/cat.png" class="cat" draggable="true" ondragstart="drag(event, this)" alt="Cat" id="drag1"/>
                {% elif item == 3 %}  <img src="/static/images/cat.png" class="cat" draggable="true" ondragstart="drag(event, this)" alt="Cat" id="dra2"/>
                {% elif item == 4 %}  <img src="/static/images/cat.png" class="cat" draggable="true" ondragstart="drag(event, this)" alt="Cat" id="drag3"/>
                {% else %}  <img src="/static/images/mouse.png" class="mouse"draggable="true" ondragstart="drag(event, this)" alt="Cat" id="drag4" alt="Mouse"/> {% endif %}
            </td>
            {% if forloop.counter|divisibleby:8 or forloop.last %}</tr>{% endif %}
            {% endfor %}
            </table>
            {% endif %}
        </div>

        <div id="right">
            <form class="move_form" id="move" method="post" action="{% url 'move' %}">
        {% csrf_token %}
        <p>
            Cats: <b>{{ game.cat_user.username }}</b>
            {% if game.cat_user.id == request.user.id %}
                <blockquote class="cat">
                    {% if game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the mouse...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
        <p>
            Mouse: <b>{{ game.mouse_user.username }}</b>
            {% if game.mouse_user.id == request.user.id %}
                <blockquote class="mouse">
                    {% if not game.cat_turn %}
                        {{ move_form }}
                        <input type="submit" value="Move" />
                    {% else %}
                        Waiting for the cat...
                        <a style="margin-left:20px;font-weight:normal" href="{% url 'show_game' %}">Refresh</a>
                    {% endif %}
                </blockquote>
            {% endif %}
        </p>
    </form>
        </div>
    </div>
    <h2>{{finished}}</h2>
    <p><a href="{% url 'landing' %}">Return to homepage</a></p>
</div>

<script>
function allowDrop(ev) {
  ev.preventDefault();
}

function drag(ev, element) {
  let form = document.getElementById("move");
  form.origin.value = element.parentNode.id;
}

function drop(ev, element) {
  ev.preventDefault();
  let form = document.getElementById("move");
  form.target.value = element.id;
  document.getElementById("move").submit();
}
</script>
{% endblock content %}